<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>

<body>

<h1>Input of the simulation</h1>

<p>
    <form method="post">
    
    {% for item in data %}
    
    {% if data_range[item] == False %}
        {{item}}
        <input name={{item}}, type="number", placeholder={{data[item]}}, step="0.01">
        <input type="checkbox", name="{{item}}range">
    {% else %}
        {{item}}
        {% for subset in data[item] %}
        <input name="{{item}}_{{subset}}", type="number", placeholder={{data[item][subset]}}, step="0.01">
        {% endfor %}
        <input type="checkbox", name="{{item}}range">
    {% endif %}

    <br>

    {% endfor %}
    <input type="submit", value="Update data">
    <br>

    
    <h3>
        Give the prefix of file names and start the simulation.
    </h3>

    <input type="text", name="filestart", placeholder="File prefix here">
    <input type="submit", name="start", value="Start">
    </form>   
    
    

    <br>
    <a href="anothersite">To output</a>
</p>

<br>
<div class="textbox">
    <h1>How to use the simulation:</h1>
    Within the section "Input of the simulation" there should be an input- and checkbox for every variable in the json file.
    If the checkbox is checked and the simulation is updated, that variable will be changed to a range of values.
    This range works in the same way as the python range function, with the first value being the lower bound, 2nd value the upperbound 
    and 3rd value the stepsize. These values can be configured in steps of 0.01. <br>  
    Below these buttons is the "Update data" button. <br>
    This will save changes within the program to be used when the "Start" button is pressed.
    This button needs to be pressed to switch a variable from a single value to a range or back.
    <br>
    When the "Start" button is pressed the text in the box with "File prefix here" will be used as 

</div>

</body>
</html>
